<h1>Evaluations#show</h1>
<p>Find me in app/views/evaluations/show.html.erb</p>
<%= link_to "新しく評価する", evaluations_new_path(params[:lecture_id]) %><br /><br />
<p>評価詳細</p>



<% @evaluations.each do |t| %>
    <div style = 'margin:20px; border:2px double black; width:500px;padding-left:20px;'>

        <!-- 総合評価の星の部分 --->
        <div>
        <h2>総合評価：
        <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
        </span> 
        </h2>
        </div>

        <!-- わかりやすさの星の部分 --->
        <div>
        <h2>わかりやすさ：
        <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.understandability) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>

        <!-- 将来的有用性の星の部分 --->
        <div>
        <h2>将来的有用性：
        <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.usefulness) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>

        <!-- 楽単の星の部分 --->
        <div>
        <h2>楽単具合：
        <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.easy) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>

        <!-- 課題・レポートの量の星の部分 --->
        <div>
        <h2>課題・レポートの量：
        <span class="star-rating">
            <span class="star-rating-front" style="width: <%= getPercent(t.assignment) %>%;">★★★★★</span>
            <span class="star-rating-back">★★★★★</span>
        </span>
        </h2>
        </div>

    </div>
<% end %>

<%= link_to "講義詳細に戻る", :back %>