<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<p>質問と講義一覧を載せるトップページ</p>

<h3>質問を検索</h3>
 <%= form_tag({controller:"top",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<h3>質問一覧</h3>
<div class="questions-container">
    <% @questions.order("updated_at desc").each do |t| %>
        <div class="question">
            <%= t.body %>
            <%= t.updated_at %>
            <%= link_to "詳細へ", question_path(t.id) %>
            <%= link_to "編集する", edit_question_path(t.id) %>
            <%= button_to "削除する", question_path(t.id), method: :delete %>
        </div>
    <% end %>
</div>