<%# users/show.html.erb %>

<h1>users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>プロフィール : <%= @user.profile %></p>

<h3>ユーザーの質問一覧</h3>
<% @user.questions.each do |t| %>
  <%= t.user.name %>
  <%= t.body %>
<% end %>

<br />
<h3>ユーザーの取得講義一覧</h3>


<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %><br />

<%= link_to "質問一覧に戻る",top_index_path %>